
  <div class="jumbotron justify-content-center" style="margin-top: 2%; margin-right: 0px; margin-left: 0px;">
  <div style="padding: 2px;">
  <div class="row" style="padding:auto;";>
 
<div class="col-mb-5"   style="margin: auto; padding-top: 5%;">
  <div class="card text-white bg-success md-6" style="max-width: auto; text-align: center;">
    <div class="card-header"><h6>Name Search for Business Name</h6></div>
  </div>
<form action="/registercompany/bizname">
  <div class="card text-white bg-success md-6">
    <div class="form-row">
    <div class="form-group" style="border-radius: 50px;"></div>
      <label for="inputAddress"><i>By this service, we check the CAC portal for Business Name's availablity</i></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Please enter the Business Name to check its vailability for CAC registration">
    </div>
    </div>
    <button type="submit" class="btn btn-primary justify-content-center">Submit for Processing</button>
  </div>
  </form>
  </div>
  </div>
  </div>
</div>