

<div class="container" style="height: 100%;">
  <div class="row mt-5 justify-content-center">
  
  
  
  
  
  
  
  <div class="col-md-4 m-auto fade-in">
           <div class="card card-body">
   
     <div class="card text-white bg-danger md-6">
       <div class="card-header" style="text-align:center;"><h6>CHANGE OF NAME SERVICE</h6></div>
     
     </div>
   
   
   <hr/>
         
     
     <p style="text-align:center;">This service Allows for processing of Change Of Name for Individuals, fulfilling all legal and regulatory requirements. 
     Details of Newspaper houses and their publication prices are listed below..</p>
     <div class="card">
   <div class="card-body">
     <h6 class="card-subtitle mb-2 text-muted">The Punch</h6>
  
     <p class="card-text">Newspaper House content.</p>
    <hr/>
     <h6 class="card-subtitle mb-2 text-muted">The Sun</h6>
  
     <p class="card-text">Newspaper House content.</p>
    <hr/>
     <h6 class="card-subtitle mb-2 text-muted">The Guardian</h6>
  
     <p class="card-text">Newspaper House content</p>
    <hr/>
     <h6 class="card-subtitle mb-2 text-muted">Thisday</h6>
  
     <p class="card-text">Newspaper House content</p>
 
    
   </div>
 </div>
     
   
     
      </div>
     </div>
   
   
   
   
  
  
         <div class="col-md-3 m-auto" style="border: 2px solid reed;">
       <div class="card card-body" style="border: 2px solid greeen;">
         <div class="list-group text-center animate__animated animate__fadeInLeft">
     <a href="#" class="list-group-item list-group-item-action active">
      Select Preferred Newspaper
     </a>
    
     <a href="/changename/namepunch" class="list-group-item list-group-item-action">The Punch 
     </a>
     <a href="/changename/namethesun" class="list-group-item list-group-item-action">The Sun Newspaper
     </a>
     <a href="/changename/nameguardian" class="list-group-item list-group-item-action">The Guardian
     </a>
     <a href="/changename/namethisday" class="list-group-item list-group-item-action">Thisday Newspaper
     </a>
   <a href="/changename/namevanguard" class="list-group-item list-group-item-action">Vanguard Newspaper
     </a>
    
   </div>
 </div>
 </div>
 </div>
 </div>