
<div class="container">
 
    <div class="row mt-5 justify-content-center">
	<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
	
	<div class="col-md-5">
<div class="card mb-3">
  <h3 class="card-header">SEALED APP  </h3> 
  <div class="card-body">
    <h5 class="card-title">Welcome,  <%= user.name %> </h5>
    <h6 class="card-subtitle text-muted">User Dashboard</h6>
    
  </div>


 <div class="align-items-center  mx-auto">
<div class="card text-white bg-success mb-3 shadow-lg p-4 mb-4 bg-white" style="border: 10px solid grey; border-radius: 100px;">
    <div class="card-body">
        
    </div>
  </div>
</div>
  <div class="card-body">
    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/findlawyer" class="card-link">Find a Lawyer</a></li>
    <li class="list-group-item"><a href="/registercompany/registercompany" class="card-link">Register Your Company/ Enterprise</a></li>
    <li class="list-group-item"><a href="/changename" class="card-link">Change of Name</a></li>
   <li class="list-group-item"><a href="generatewill" class="card-link">Generate Will</a></li>
   <li class="list-group-item"><a href="generateod" class="card-link">Generate Other Legal Documents</a></li>
   <li class="list-group-item"><a href="#" class="card-link">Generate Will/Legal Documents</a></li>
  </ul>
  <div class="card-footer text-muted">
    Copyright (c) Sealed App Limited
  </div>
</div>


</div>


<div class="col-md-4">


<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Activities
    <a href="/users/logout" <button class="btn btn-secondary float-right my-2 my-sm-0 align-items-end" type="submit">Logout</button></a>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Message:
    <span class="badge badge-primary badge-pill">14</span>
    </a>

</a>
<a href="#" class="list-group-item list-group-item-action">Message:
<span class="badge badge-primary badge-pill">14</span>
</a>
<a href="#" class="list-group-item list-group-item-action">Message:
  <span class="badge badge-primary badge-pill">14</span>
  </a>
</div>

<div class="card text-white bg-info mb-3">
  <div class="card-header">On-going Projects</div>
  <div class="card-body">
    <h4 class="card-title">Ongoing Tasks</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card text-white bg-success mb-3">
  <div class="card-header">Project Turn-around Timer</div>
  <div class="card-body">
    <h4 class="card-title">Success card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    




  
</div>

</div>
</div>

