<div class="container" style="height: 100%;">
  <div class="row";>
   
<div class="col-md-3"   style="margin: auto; padding-top: 12%;">





  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
     Choose Company type
    </a>
   
    <a href="/registercompany/bizname" class="list-group-item list-group-item-action">Business Name
    </a>
    <a href="/registercompany/cooperative" class="list-group-item list-group-item-action">Cooperative
    </a>
    <a href="/registercompany/privatelimited" class="list-group-item list-group-item-action">Private Limited Liability
    </a>
    <a href="/registercompany/limitedbyguarantee" class="list-group-item list-group-item-action">Limited by Guarantee
    </a>
  </div>






</div>
</div>
</div>

